<br />
<div class="container">
  <%= @user.username%> <br />
  <a>Photoposts:<%= @user.photos.size.to_s %></a><br />
  <a>Subscriptions:<%= @user.all_followers %></a><br />
  <a>Subscribers:<%= @user.all_following %></a><br />
  <%= @user.full_name%>
</div>
<br />
<div class="row">
  <div class="col-12">
   <% @photos.each do |photo|%> 
   <%= image_tag photo.image.url, width: "500px", height: "450px"%>
   <% if photo.user_id == current_user.id && user_signed_in? %>
   <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<% end %>
</div>
</div>