<br />
<div class="container">
  <div class="row">
    <div class="col-8">
      <% @photo_tape.all.sort_by{|obj| obj['date']}.reverse.each do |photo|%>
      <div class="username">
      <%=link_to photo.user.username, profile_path(photo.user.username) %>
      </div>  
      <%= image_tag photo.image.url, width: "750px", height: "auto" %>
      <div class="description">
      <div class="photo-actions">
         <i class="fa fa-heart like-<%= photo.id %> <%= 'active' if photo_liked_by_user?(photo.id) %> fa-2x photo-like" data-id="<%= photo.id %>"> </i> 
      </div>
      <p><strong id="photo-<%= photo.id%>-likes"><%= photo .total_likes_count %> likes </strong></p>
        <% if photo.title? %>
        <p><strong><%= photo.user.username %> </strong></p>
        <% end %>
        <%= photo.title %></p> <br /> 
        <%= render "photos/comments", photo: photo %> <br />
        <p> created <%=time_ago_in_words photo.created_at %> ago </p>
      </div>
      <div>
      <%= form_for @comment do |form| %>
      <%= form.hidden_field :photo_id, value: photo.id %>
      <%= form.text_field :comment, placeholder: "add comment...." %>
      <%= form.submit "Add" %>
      <% end %>
      </div>
      <br /> 
      <%end%>
    </div>
    <div class="col-4">
      <div class="follower-info">
        <%= current_user.username%><br />
        <%= current_user.full_name%>
      </div>
      <div class="follower-info">
        <%= render "home/all_users" %><hr/>
        <%= render "home/follow_users" %>
      </div>
    </div>
  </div>
</div>