<br />
<div class="container">
  <div class="row">
    <div class="col-8">
      <% Photo.all.each do |photo|%>
      <div class="username">
      <%= photo.user.username %>
      </div>  
      <%= image_tag photo.image.url, width: "750px", height: "auto" %>
      <div class="description">
        <% if photo.title? %>
        <strong><p><%= photo.user.username %> </strong>
        <% end %>
        <%= photo.title %></p> <br /> 
        <%= render "photos/comments", photo: photo %> <br /> 
        <p> created <%=time_ago_in_words photo.created_at %> ago </p> 
      </div>
      <div>
      <%= form_for @comment do |form| %>
      <%= form.hidden_field :photo_id, value: photo.id %>
      <%= form.text_field :comment, placeholder: "add comment...." %>
      <%= form.submit "Add" %>
      <% end %>
      </div>
      <br /> 
      <%end%>
    </div>
    <div class="col-4">
      <div class="follower-info">
        <%= current_user.username%><br />
        <%= current_user.full_name%>
      </div>
    </div>
  </div>
</div>